<div class="maindiv">
    <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()" >
            <mat-icon>menu</mat-icon>
        </button>
        <span style="font-size: 90%; font-weight: bold;">LOGO</span>
        <span class="space"></span>


        <div class="search-bar1">
            <input type="text" placeholder="Search" />
            <mat-icon class="searchicon1">search</mat-icon>
        </div>

        <button mat-icon-button>
            <mat-icon>schedule</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>list</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>
    <mat-drawer-container class="content" autosize>
        <mat-drawer #drawer class="drawer" mode="side" opened>
            <mat-nav-list>
                <button mat-flat-button class="navbutton" (click)="showdropdown()">
                    <span style="color: aliceblue; width: 2vw;">TA/Recruitment</span>
                    <mat-icon matSuffix mat-list-icon>arrow_drop_down</mat-icon>
                </button>
            </mat-nav-list>
            <mat-nav-list *ngIf="showSecondNav">
                <button mat-flat-button class="dropdown">Job List</button>
                <button mat-flat-button class="dropdown">Company</button>
                <button mat-flat-button class="dropdown">GST state code</button>
                <button mat-flat-button class="dropdown">SAC code</button>
            </mat-nav-list>
        </mat-drawer>

        <div fxLayout="column" style="padding: 1%;">
            <div fxLayout="row">
                <div fxLayout="row" style="padding: 1%; width: 80%;" fxLayoutGap="2%">
                    <div fxLayout="column" fxLayoutGap="10%">
                        <div>
                            <mat-card class="photocard">
    
                            </mat-card>
                        </div>
                        <div fxLayoutAlign="center center">
                            <span style="font-weight: 500; font-size: 1vw;">JD sports</span>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutGap="2%">
                        <div fxLayoutAlign="left center">
                            <span style="font-size: 1.7vw;">Java Full Stack Developer</span>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%">
                            <div fxLayoutAlign="center center">
                                <span style="color: rgb(118, 5, 146);">Primary Skill / Platform</span>
                            </div>
                            <div fxLayoutAlign="center center" style="background-color: rgb(15, 144, 224); color: aliceblue; font-size: 1vw; width: 5vw; border-radius: 2vh; height: 4vh;">
                                <span>Java</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%">
                            <div fxLayoutAlign="center center">
                                <span style="color: rgb(118, 5, 146);">Skills</span>
                            </div>
                            <div fxLayoutAlign="center center" class="skills">
                                <span>Java</span>
                            </div>
                            <div fxLayoutAlign="center center" class="skills">
                                <span>Rest API</span>
                            </div>
                            <div fxLayoutAlign="center center" class="skills">
                                <span>Micro Service</span>
                            </div>
                            <div fxLayoutAlign="center center" class="skills">
                                <span>Angular</span>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="2%">
                            <div fxLayoutAlign="center center">
                                <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap;">Exp Level :</span>
                                <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-left: 0.6vw;">9.3 to 12 years</span>
                            </div>
                            <hr style="border-color: rgb(118, 5, 146); height: 2vh;">
                            <div fxLayoutAlign="center center">
                                <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap;">Rel Exp :</span>
                                <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-left: 0.6vw;">9.3 to 12 years</span>
                            </div>
                            <hr style="border-color: rgb(118, 5, 146); height: 2vh;">
                            <div fxLayoutAlign="center center">
                                <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap;">Edu :</span>
                                <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-left: 0.6vw;">BE, MCA</span>
                            </div>
                            <hr style="border-color: rgb(118, 5, 146); height: 2vh;">
                            <div fxLayoutAlign="center center">
                                <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap;">Ends On :</span>
                                <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-left: 0.6vw;">20 sept 2022</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" style="padding: 1%;" fxLayoutGap="2%">
                    <div fxLayout="column">
                        <div fxLayoutAlign="center center">
                            <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap;">Posted by -</span>
                            <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-left: 1vw;">Ramalinga</span>
                        </div>
                        <div fxLayoutAlign="end center">
                            <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap;">25 sep 2022</span>
                        </div>
                    </div>
                    <hr style="border-color: rgb(87, 189, 220); height: 19vh; border-width: 0.15vw;">
                    <div fxLayout="column" fxLayoutGap="2vh">
                        <div fxLayoutAlign="start center">
                            <mat-icon style="color: rgb(118, 5, 146);">rocket_launch</mat-icon>
                            <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-left: 0.4vw;">Bengaluru</span>
                        </div>
                        <div fxLayoutAlign="start center">
                            <mat-icon style="color: rgb(118, 5, 146);">redeem</mat-icon>
                            <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-left: 0.4vw;">Full Time</span>
                        </div>
                        <div fxLayoutAlign="start center">
                            <mat-icon style="color: rgb(118, 5, 146);">euro_symbol</mat-icon>
                            <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-left: 0.4vw;">10 to 12 lakhs</span>
                        </div>
                        <div fxLayoutAlign="center center">
                            <button mat-flat-button (click)="addprofiledailog()" style="width: 9vw; height: 5vh; font-size: 1vw; color: rgb(16, 16, 16); background-color: rgba(176,230,161,255);">
                                <mat-icon>add</mat-icon> Add Profile
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div style="margin-top: 2%; color: aliceblue; font-size: 1vw;" class="resumelistdiv" fxLayoutAlign="center center">
                Resume List
            </div>
            <div fxLayout="row">
                <div style="width: 70%;" fxLayout="row">
                    <div>
                        <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-right: 1vw;">Show</span>
                        <span >
                            <mat-form-field style="width: 4vw;">
                                <mat-select style="width: 3vw;" [(value)]="selectedOption">
                                  <mat-option value="option1">1</mat-option>
                                  <mat-option value="option2">2</mat-option>
                                  <mat-option value="option3">3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </span>
                        <span style="color: rgb(118, 5, 146); display: inline-block; white-space: nowrap; padding-left: 0.4vw;">Entry</span>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="Search" />
                        <mat-icon class="searchicon">search</mat-icon>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div>
                        <form style="width: 10vw; height: 3vh; border: 2px solid #4fa0e3; padding: 2px; border-radius: 5px;">
                            <div>
                              <select name="status" id="status" style="width: 100%; height: 100%; border: none; outline: none; background-color: transparent; font-size: 0.8vw; padding-top: 5px;" >
                                <option value="" disabled selected>Status</option>
                                <option *ngFor="let status of statuses" [value]="status.text">{{ status.text }}</option>
                              </select>
                            </div>
                        </form>
                    </div>
                    <div>
                        <button mat-icon-button color="primary">
                            <mat-icon>insert_drive_file</mat-icon>
                        </button>
                    </div>
                    <div>
                        <button mat-flat-button style="width: 100%; height: 4vh; font-size: 1vw; color: rgb(20, 21, 21); background-color: rgba(87,200,238,255);" fxLayoutAlign="center center">
                            <mat-icon>add</mat-icon> Submit to Client
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <mat-card class="mattitle">
                    <div fxLayout="row">
                        <div style="width: 5%;">
                            <mat-card-title>
                                <mat-checkbox [(ngModel)]="selectAllChecked" (change)="toggleAllCheckboxes()"></mat-checkbox>
                            </mat-card-title>
                        </div>
                        <div style="width: 15%;">
                            <mat-card-title>Name</mat-card-title>
                        </div>
                        <div style="width: 15%;">
                            <mat-card-title>Contact</mat-card-title>
                        </div>
                        <div style="width: 10%;">
                            <mat-card-title>Skills</mat-card-title>
                        </div>
                        <div style="width: 10%;">
                            <mat-card-title>CTC</mat-card-title>
                        </div>
                        <div style="width: 10%;">
                            <mat-card-title>E CTC</mat-card-title>
                        </div>
                        <div style="width: 15%;">
                            <mat-card-title>Notice Period</mat-card-title>
                        </div>
                        <div style="width: 15%;">
                            <mat-card-title>Status</mat-card-title>
                        </div>
                        <div style="width: 10%;">
                            <mat-card-title>Action</mat-card-title>
                        </div>
                    </div>
                    
                </mat-card>
                <mat-card *ngFor="let person of dataSource" class="person-card">
                    <div fxLayout="column">
                        <div fxLayout="row" style="height: 70%;">
                            <div style="width: 5%;" fxLayoutAlign="start center">
                                <mat-card-content >
                                    <mat-checkbox [(ngModel)]="person.checked"></mat-checkbox>
                                </mat-card-content>
                            </div>
                            <div style="width: 15%;" fxLayout="row" fxLayoutGap="4%">
                                <div fxLayoutAlign="start center">
                                    <mat-icon style="color: rgb(175, 225, 225);">subtitles</mat-icon>
                                </div>
                                <div fxLayoutAlign="start center">
                                    <span>{{ person.name }}</span>
                                </div>
                            </div>
                            <div fxLayout="row"  style="width: 15%;" fxLayoutGap="5%">
                                <div fxLayoutAlign="start center">
                                    <mat-icon>phone</mat-icon>
                                </div>
                                <div fxLayout="column">
                                    <div fxLayoutAlign="start center" style="padding-top: 3vh;">
                                        <mat-card-content>
                                            <span>{{ person.mobile }}</span>
                                        </mat-card-content>
                                    </div>
                                    <div fxLayoutAlign="start center">
                                        <mat-card-content>
                                            <span style="color: #b34dcf;">{{ person.email }}</span>
                                        </mat-card-content>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 10%;" fxLayoutAlign="start center">
                                <mat-card-content>
                                    <span>{{ person.skills }}</span>
                                </mat-card-content>
                            </div>
                            <div style="width: 10%;" fxLayoutAlign="start center">
                                <mat-card-content>
                                    <span>{{ person.ctc }}</span>
                                </mat-card-content>
                            </div>
                            <div style="width: 10%;" fxLayoutAlign="start center">
                                <mat-card-content>
                                    <span>{{ person.ectc }}</span>
                                </mat-card-content>
                            </div>
                            <div fxLayout="column" style="width: 15%;">
                                <div style="padding-top: 3vh;">
                                    <mat-card-content>
                                        <span>{{ person.notice }}</span>
                                    </mat-card-content>
                                </div>
                                <div>
                                    <mat-card-content>
                                        <span style="color: #b34dcf;">{{ person.noticedate }}</span>
                                    </mat-card-content>
                                </div>
                            </div>
                            <div [ngClass]="{'web-interview': person.status === 'web zoom interview',
                                'in-person-interview': person.status === 'in-person interview',
                                'hired': person.status === 'hired',
                                'rejected': person.status === 'rejected' }" style="width: 15%;" fxLayoutAlign="start center">
                                <mat-card-content>
                                    <form style="width: 10vw;">
                                        <div>
                                          <select id="statusSelect" name="status" [(ngModel)]="person.status" style="width: 100%; height: 100%; border: none; outline: none; background-color: transparent; font-size: 0.8vw; padding-top: 5px;" >
                                            <!-- <option value="" disabled selected>Web zoom Interview</option>
                                            <option>{{ person.status }}</option> -->
                                            <option value="web zoom interview">Web Zoom Interview</option>
                                            <option value="in-person interview">In-person Interview</option>
                                            <option value="hired">Hired</option>
                                            <option value="rejected">Rejected</option>
                                          </select>
                                        </div>
                                    </form>
                                </mat-card-content>
                            </div>
                            <div style="width: 10%;" fxLayoutAlign="start center">
                                <span>
                                    <mat-icon style="color: rgb(39, 105, 105);">access_time</mat-icon>
                                    <mat-icon style="color: rgb(39, 105, 105);">today</mat-icon>
                                    <mat-icon style="color: rgb(39, 105, 105);">edit</mat-icon>
                                    <mat-icon style="color: rgb(39, 105, 105);">delete_outline</mat-icon>
                                </span>
                            </div>
                        </div>

                        <div style="height: 20%;" fxLayout="row">
                            <div style="width: 5%;" fxLayout="row" fxLayoutAlign="center center">
                                <div class="greencicle" style="width: 1vw; height: 1.5vh; background-color: green; border-radius: 50%;">

                                </div>
                                <div style="width: 100%; border-top: 2px solid #7dcff3;">

                                </div>
                            </div>
                            <div fxLayout="row" style="width: 15%;" fxLayoutAlign="start center">
                                <div >
                                    <span style="color: #6d0f87; font-size: 0.9vw;">Sourced>></span>
                                </div>
                                <div style="width: 100%; border-top: 2px solid #7dcff3;"></div>
                            </div>
                            <div fxLayout="row" style="width: 15%;" fxLayoutAlign="start center">
                                <div >
                                    <span style="color: #6d0f87; font-size: 0.9vw;">InProcess>></span>
                                </div>
                                <div style="width: 100%; border-top: 2px solid #7dcff3;"></div>
                            </div>
                            <div fxLayout="row" style="width: 10%;" fxLayoutAlign="start center">
                                <div >
                                    <span style="color: #6d0f87; font-size: 0.9vw;">AtClient>></span>
                                </div>
                                <div style="width: 100%; border-top: 2px solid #7dcff3;"></div>
                            </div>
                            <div fxLayout="row" style="width: 10%;" fxLayoutAlign="start center">
                                <div >
                                    <span style="color: #6d0f87; font-size: 0.9vw;">InInterview>></span>
                                </div>
                                <div style="width: 100%; border-top: 2px solid #7dcff3;"></div>
                            </div>
                            <div fxLayout="row" style="width: 10%;" fxLayoutAlign="start center">
                                <div >
                                    <span style="color: #6d0f87; font-size: 0.9vw;">Offered>></span>
                                </div>
                                <div style="width: 100%; border-top: 2px solid #7dcff3;"></div>
                            </div>
                            <div fxLayout="row" style="width: 15%;" fxLayoutAlign="start center">
                                <div >
                                    <span style="color: #6d0f87; font-size: 0.9vw;">Joined>></span>
                                </div>
                                <div style="width: 100%; border-top: 2px solid #7dcff3;"></div>
                            </div>
                            <div fxLayout="row" style="width: 15%;" fxLayoutAlign="start center">
                                <div >
                                    <span style="color: #6d0f87; font-size: 0.9vw;">Hold>></span>
                                </div>
                                <div style="width: 100%; border-top: 2px solid #7dcff3;"></div>
                            </div>
                            <div fxLayout="row" style="width: 10%;" fxLayoutAlign="start center">
                                <div >
                                    <span style="color: rgb(236, 39, 39); font-size: 0.8vw; font-weight: 500;">Rejected</span>
                                </div>
                                <div style="width: 70%; border-top: 2px solid #7dcff3;">

                                </div>
                                <div  style="width: 1.2vw; height: 1.5vh; background-color: rgb(236, 39, 39); border-radius: 50%;">

                                </div>
                            </div>
                            
                            
                             
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
      
    </mat-drawer-container>
</div>

